.cover-container {
  margin-top: 5px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: grab;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  pointer-events: none;
  object-fit: cover; /* Đảm bảo ảnh không méo, cắt phần thừa */
  display: block; /* Loại bỏ khoảng trắng dưới ảnh */
  position: absolute;
}

.btn-edit-cover {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px 8px;
  background-color: #ffffff;
  color: rgb(55, 168, 102);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  align-items: center;
}

.btn-edit-cover:hover {
  background-color: rgb(44, 134, 81);
  color: rgb(255, 255, 255);
}

.btn-edit-cover:active {
  transform: scale(1.05);
}

.camera-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}

@media (max-width: 767px) {
  /* CSS cho mobile */
  .cover-container {
    margin-top: 5px;
    width: 100%;
    height: 250px;
  }

  .btn-edit-cover {
    padding: 5px;
    background-color: rgba(253, 253, 253, 0.8); /* Nửa trong suốt */
    border-radius: 50%; /* Hình tròn */
    width: 35px;
    height: 35px;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-edit-cover-text {
    display: none; /* Ẩn text trên mobile */
  }

  .camera-icon {
    /* Hiện icon trên mobile */
    margin-right: 0px;
    width: 16px;
    height: 16px;
  }
}
