@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Loại bỏ margin mặc định */
  padding: 0; /* Loại bỏ padding mặc định */
  display: flex; /* Sử dụng flexbox để căn giữa */
  justify-content: center; /* Căn giữa phần tử theo chiều ngang */
  height: 100vh; /* Đảm bảo body chiếm toàn bộ chiều cao cửa sổ trình duyệt */
}

.main-container {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 1200px) {
  /* Các thuộc tính cho tablet */
}

@media (max-width: 1000px) {
  /* Các thuộc tính cho tablet */
}

@media (max-width: 780px) {
  /* Các thuộc tính cho tablet */
}
